@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  font-family: "Libre Baskerville", system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #e5c052;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  background-color: #454545;
  width: 100vw;
  text-align: center;
  height: 80px;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 5fr;
}

#sidebar {
  padding: 2vw;
  min-width: 350px;
}

#previewSection {
  display: grid;
  justify-content: center;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin: 0;
}

h2 {
  margin: 0;
}

h3 { 
  margin: 0;
  display: flex;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e5c052;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
