#preview {
  margin: 2vw 4vw 4vw 2vw ;
  height: 80vh;
  aspect-ratio: 1/1.414;
  background-color: rgba(255, 255, 255, 0.87);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: #242424;
  font-size: 1.2vh;
  position: fixed;
  justify-self: center;
}

#personalPreview {
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  padding: 2vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
}

#bioPreview {
  place-self: center;
}

svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.sectionTitle {
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
  margin: 0.5vh 0 0.5vh 0;
  padding-left: 2vh;
}

.datesWrapper {
  display: flex;
  gap: 0.2vh;
}

.date {
  margin: 0;
  color: #555555;
}

.experience {
  padding: 1vh 2vh;
}

p {
  margin: 0;
  margin-top: 0.5em;
}
